<link rel="stylesheet" href="{{ 'lookbook-styles.css' | asset_url }}">

<h1 class="lookbook__title">{{ section.settings.lookbook }}</h1>

<div class="lookbook__box">
{% for block in section.blocks %}
  <a class="lookbook__button" href="#popup1">
    <img src="{{ block.settings.image | img_url: 'master' }}" class="lookbook__img">
  </a>  
{% endfor %}
</div>

<div id="popup1" class="lookbook__overlay">
  <div class="lookbook__popup">
      <div class="lookbook__popup-img">
          <img src="https://i.ibb.co/tKxzWLP/model2.jpg" alt="model2" border="0">
      </div>

      <div class="lookbook__outlook">
        <div class="lookbook__outlook-item">
          <div class="item-wrap">
            <img src="https://prnt.sc/Z75oQbdU1q46">

            <div class="item-info">
              <div>
                <h4>BORA</h4>

                <h4>925 EUR</h4>
              </div>
              
              <div>
                <p>Slim waisted tailored jacket</p>
                <p>Black</p>
              </div>
              
              <div>
                <select>
                  <option>XS</option>
                  <option>s</option>
                  <option>M</option>
                  <option>L</option>
                  <option>XL</option>
                </select>

                <button>Add to bag</button>
              </div>
            </div>
          </div>
        </div>

        <div class="lookbook__outlook-item">
          <div class="item-wrap">
            <img src="https://prnt.sc/Z75oQbdU1q46">

            <div class="item-info">
              <div>
                <h4>FIDA</h4>

                <h4>795 EUR</h4>
              </div>
              
              <div>
                <p>Straight regenerated leather wrap kilt skirt</p>
                <p>Black</p>
              </div>
              
              <div>
                <select></select>

                <button>Add to bag</button>
              </div>
            </div>
          </div>
        </div>

        <div class="lookbook__outlook-item">
          <div class="item-wrap">
            <img src="https://prnt.sc/Z75oQbdU1q46">

            <div class="item-info">
              <div>
                <h4>THE PILLOW BAG</h4>

                <h4>745 EUR</h4>
              </div>
              
              <div>
                <p>Pillow Bag</p>
                <p>Black</p>
              </div>
              
              <div>
                <p>One Size</p>

                <button>Add to bag</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <a class="close" href="#">&times;</a>
  </div>
</div>

{% schema %}
  {
    "name": "lookbook-images",
    "settings": [
      {
        "type": "text",
        "label": "your headline for the section",
        "id": "lookbook"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "label": "your_image",
            "id": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}