<h1>{{ section.settings.lookbook }}</h1>

{% schema %}
  {
    "name": "lookbook-images",
    "settings": [
      {
        "type": "text",
        "label": "your headline for the section",
        "id": "lookbook"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "label": "your_image",
            "id": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}