<h1>{{ section.settings.lookbook }}</h1>

{% schema %}
  {
    "name": "lookbook-images",
    "settings": [
      {
        "type": "text",
        "label": "your headline for the section",
        "id": "lookbook"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}