.lookbook__title {
  text-align: center;
}

.lookbook__box {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  transition: transform 2s ease-in-out;
}

.lookbook__img:hover {
  transform: scale(1.01);
}

.lookbook__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.lookbook__overlay:target {
  visibility: visible;
  opacity: 1;
}

.lookbook__popup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
}

.lookbook__popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.lookbook__popup .close {
  position: absolute;
  top: 0px;
  right: 18px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.lookbook__popup .close:hover {
  color: #06D85F;
}
.lookbook__popup .content {
  max-height: 30%;
  overflow: auto;
}

.lookbook__popup-image {
  width: 380px;
  height: 640px;
}

.lookbook__outlook {
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

.lookbook__outlook-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lookbook__outlook-item::after {
  content: " ";
  display: block;
  position: absolute;
  height: 1px;
  background: black;
  width: 350px;
  left: 0;
  bottom: 0;
}

.lookbook__item-img {
  width: 150px;
  height: 200px;
}

.lookbook__item-info {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.lookbook__item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lookbook__item-title {
  margin-top: 10px;
  font-weight: 700;
}

.lookbook__item-text {
  margin: 0;
}

.lookbook__item-buttons {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 45px;
  overflow: hidden;
}

.lookbook__item-btn {
  width: 220px;
  height: 40px;
  padding: 10px 25px;
  border: 1px solid #000;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  line-height: 39px;
  padding: 0;
}

.lookbook__item-btn:hover{
  background: transparent;
  color: #000;
}

.lookbook__item-btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.lookbook__item-btn:before,
.lookbook__item-btn:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #000;
  transition: all 0.3s ease;
}

.lookbook__item-btn:before {
  height: 0%;
  width: 2px;
}

.lookbook__item-btn:after {
  width: 0%;
  height: 2px;
}

.lookbook__item-btn:hover:before {
  height: 100%;
}

.lookbook__item-btn:hover:after {
  width: 100%;
}

.lookbook__item-btn span:before,
.lookbook__item-btn span:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #000;
  transition: all 0.3s ease;
}

.lookbook__item-btn span:before {
  width: 2px;
  height: 0%;
}

.lookbook__item-btn span:after {
  width: 0%;
  height: 2px;
}

.lookbook__item-btn span:hover:before {
  height: 100%;
}

.lookbook__item-btn span:hover:after {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

  .lookbook__box {
    flex-direction: column;
    align-items: center;
  }
}