.lookbook__title {
  text-align: center;
}

.lookbook__box {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  transition: transform 2s ease-in-out;
}

.lookbook__img:hover {
  transform: scale(1.01);
}

.lookbook__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
}

.lookbook__overlay:target {
  visibility: visible;
  opacity: 1;
}

.lookbook__popup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  height: 80%;
  position: relative;
  transition: all 5s ease-in-out;
}

.lookbook__popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.lookbook__popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.lookbook__popup .close:hover {
  color: #06D85F;
}
.lookbook__popup .content {
  max-height: 30%;
  overflow: auto;
}

/* .lookbook__popup-image {
  width: 300px;
  height: 400px;
} */

.lookbook__outlook {
  display: flex; 
  flex-direction: column;
  gap: 20px;
}

.lookbook__outlook-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.lookbook__item-img {
  width: 150px;
  height: 200px;
}

.lookbook__item-info {
  display: flex;
  flex-direction: column;
}

.lookbook__item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lookbook__item-title {
  font-weight: 700;
}

.lookbook__item-text {
  margin: 0;
}

.lookbook__item-buttons {
  margin-top: 20px;
}

@media screen and (max-width: 700px) {
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }

  .lookbook__box {
    flex-direction: column;
    align-items: center;
  }
}